.form {
    position: relative;
    width: 280px;
    // margin-bottom: 20px;   Вертикальні марджини різні для різних сторінок
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    transition: var(--timing);
    box-shadow: var(--small-shadow);

    &:hover,
    &:focus {
        box-shadow: var(--big-shadow);
    }
}

.input {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 80px;
    border: none;
    border-radius: 24px;

    font-family: 'Inter';
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;

    color: var(--grey-font);
}

.clearBtn {
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;

    position: absolute;
    right: 13px;
    top: 10px;

    line-height: 0;
    background-color: transparent;
}

.clearBtnIcon {
    stroke: var(--header-acc);
}

.submitBtn {
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;

    position: absolute;
    right: 12px;
    top: 10px;

    line-height: 0;
    background-color: transparent;

    &.active {
        right: 47px;
    }

    transition: var(--timing);

    &:hover,
    &:focus {
        transform: scale(1.2);

        & .icon {
            stroke: var(--header-acc);
            fill: var(--header-acc);
        }
    }
}

.icon {
    stroke: var(--main-acc);
    fill: var(--main-acc);
}

@media screen and (min-width: 768px) {
    .form {
        width: 608px;
    }

    .input {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
        line-height: 24px;
    }

    .submitBtn {
        right: 20px;
    }
}
