.container {
    width: 280px;
    padding-top: 44px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 16px;
}

.mainContent {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 12px;
}

.imageWrapper {
    position: relative;
    width: 240px;
    height: 240px;
    margin: 0 auto;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 40px 40px;
}

.category {
    padding: 11px 17px;

    position: absolute;
    top: 16px;
    left: 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 19px;

    color: var(--header-font);
    background-color: var(--main-light);
    border-radius: 0px 16px 16px 0px;
}

.title {
    width: 198px;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.01em;

    color: #000000;
}

.tableLabel {
    width: 80px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    color: #000000;
}

.tableValue {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: #000000;
}

.link {
    color: #ffc107;
}

.comment {
    margin-bottom: 12px;

    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.04em;
}

.btnWrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
}

.btn {
    width: 256px;
    padding: 8px 20px;
    border: none;
    border-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    background-color: var(--main-acc);
    color: #fef9f9;

    &:hover {
        background: var(--gradient);
    }
}

.btnLabel {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.04em;

    color: #fef9f9;
}

.icon {
    stroke: currentColor;
}

.contactLink {
    width: 256px;
    height: 40px;
    padding: 8px 20px;
    border: 2px solid #54adff;
    border-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.04em;

    text-decoration: none;
    color: #54adff;

    &:hover {
        color: #ffffff;
        border: none;
        background: var(--gradient);
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 681px;
        padding-top: 32px;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 24px;
    }

    .mainContent {
        flex-direction: row;
        gap: 24px;
    }

    .imageWrapper {
        width: 262px;
        height: 298px;
    }

    .textInfo {
        flex: 1;
    }

    .title {
        width: 321px;
        font-size: 28px;
        line-height: 38px;
    }

    .tableLabel {
        width: 120px;
        font-size: 16px;
        line-height: 22px;
    }

    .tableValue {
        font-size: 16px;
        line-height: 22px;
    }

    .comment {
        margin-bottom: 70px;

        font-size: 16px;
        line-height: 24px;
    }

    .btnWrapper {
        justify-content: flex-end;
        flex-direction: row;
        gap: 17px;
    }

    .btn {
        width: 129px;
    }

    .contactLink {
        width: 129px;
    }
}
