.wrapper {
    width: 205px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.list {
    list-style: none;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.button {
    display: flex;
    border: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;

    background-color: var(--main-light);
    border-radius: 40px;

    font-weight: 500;
    font-size: 14px;
    line-height: 19px;

    letter-spacing: 0.04em;

    color: var(--main-acc);

    transition: color var(--timing), background-color var(--timing);

    &:hover {
        background-color: var(--main-acc);
        color: var(--main-back);
    }
}

.active {
    background-color: var(--main-acc);
    color: var(--main-back);
}

@media screen and (min-width: 768px) {
    .wrapper {
        width: 320px;
    }
}

@media screen and (min-width: 1280px) {
    .wrapper {
        width: 540px;
    }
}
