:root {
    // Header
    --header-acc: #ffc107;
    --header-font: #111111;

    // Pages
    --main-back: #fef9f9; // фон
    --form-back: #fff;
    --main-light: #cce4fb; // світло блакитний
    --dark: #8cc8fd70;
    --main-acc: #54adff; // блакитний акцент
    --grey-font: #888888; // колір сірого шрифту
    --bad-validation: #f43f5e; // колір не валідного інпуту
    --good-validation: #00c3ad; //  колір валідного інпуту

    --gradient: linear-gradient(290.46deg, #419ef1 0%, #9bd0ff 107.89%); // блакитний градієнт

    // Shadows
    --small-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
    --big-shadow: 7px 13px 14px rgba(116, 177, 232, 0.24);

    // Transition
    --timing: 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
