.container{
        width: 280px;
        height: 541px;    
        background: #FFFFFF;
        box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 16px;
        &:not(:last-child) {
                margin-bottom: 20px;
            }
        @media only screen and (min-width: 768px) {
                width: 703px;
                height: 256px;
                display: flex;
                margin-right: 0;
                position: relative;
            }
        @media only screen and (min-width: 1280px) {
                width: 821px;
                height: 212px;
        }
}
.title{
    display: flex;
        justify-content: space-between;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: #000000;
        &:not(:last-child) {
                margin-bottom: 12px;
            }
        @media only screen and (min-width: 768px) {
                margin-left: 20px;
                 &:not(:last-child){
                    margin-bottom: 16px;
                 }
            }
}
.text{
    font-family: 'Manrope';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: #000000;
        
}
.btnTrash{
    background-color: transparent;
    border: transparent;
    cursor: pointer;

    @media only screen and (min-width: 768px) {
            padding:0;
            
        }
}
.photoPet{
    width: 240px;
    height: 240px;
    margin-bottom: 20px;
            @media only screen and (min-width: 768px) {
                    width: 128px;
                    height: 128px;
                }
                @media only screen and (min-width: 1280px) {
                    width: 161px;
                    height: 161px;
                }
}

.wrapData{
    @media only screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
        }
}
p{
    margin: 0;
}