ul {
    list-style: none;
}
.wrapper {
    padding-top: 20px;

    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }

    @media screen and (min-width: 1280px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
    }
}
