.userCard {
    border-radius: 20px;
    padding: 20px 8px;

    background: #ffffff;
    box-shadow: var(--small-shadow);
}

.userPhoto {
    margin-bottom: 14px;
    margin-left: 41px;
    margin-right: 41px;
    border-radius: 40px;
    line-height: 0;
}

.avatar {
    object-fit: cover;
    border-radius: inherit;
}

.confirmBtn {
    border: none;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    font-size: 12px;
    line-height: 22px;

    letter-spacing: 0.04em;

    color: #111111;
    background-color: transparent;
}

.userDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.userDetails label {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #111111;
}

.input {
    padding-right: 40px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    width: 190px;
    height: 28px;
    border: 1px solid var(--main-acc);
    border-radius: 20px;
}

.userData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logOut {
    width: 110px;
    margin-top: 11px;
    border: none;

    display: flex;
    align-items: center;
    gap: 12px;

    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.04em;

    background-color: transparent;

    color: var(--grey-font);
}

.prevValue {
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    width: 160px;
    height: 28px;
    border-radius: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btnEdit {
    background-color: transparent;
    border: transparent;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    line-height: 0;
}
.position {
    position: relative;
}

.editPhoto {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #111111;
}
.wrapEditPhoto {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

input[type='file'] {
    display: none;
}
.wrapImg {
    display: flex;
    cursor: pointer;
}
.camera {
    display: flex;
    justify-content: baseline;
}

.cameraInput {
    width: 100%;
    height: 100%;
}

.checkIcon {
    stroke: var(--good-validation);
}

.spanEdit {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.04em;

    color: #111111;
}

// mobile styles for modal
.modal {
    width: 280px;
    padding: 30px;
    border-radius: 40px;
}

.modalButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.cancelButton,
.yesButton {
    padding: 9px 20px;
    font-weight: 700;
    font-size: 16px;
}

.cancelButton {
    position: relative;
    border: 2px solid var(--main-acc);
    border-radius: 40px;
    background-color: #ffffff;
    background-color: transparent;
    color: var(--main-acc);

    transition: color var(--timing);

    &:hover,
    &:focus {
        color: #ffffff;
        border-color: transparent;

        &::before {
            opacity: 1;
        }
    }

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: inherit;

        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        background: var(--gradient);
        opacity: 0;

        transition: opacity var(--timing);
    }
}

.yesButton {
    position: relative;
    border-radius: 40px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--main-acc);
    color: var(--main-back);

    transition: background-color var(--timing);

    &:hover,
    &:focus {
        background-color: transparent;

        &::before {
            opacity: 1;
        }
    }

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: inherit;

        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        background: var(--gradient);
        opacity: 0;

        transition: opacity var(--timing);
    }
}
.titleModal {
    margin-bottom: 80px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #111111;
}

.logoutModal {
    color: var(--main-back);
}

.titleBtnYes {
    margin-right: 8px;
}

@media screen and (min-width: 768px) {
    .userCard {
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        padding-right: 70px;
        width: 704px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .userPhoto {
        margin-left: 0;
        margin-right: 0;
    }

    .userDetails {
        width: 355px;
    }

    .userDetails label {
        font-size: 18px;
        line-height: 25px;
    }

    .input {
        width: 255px;
        height: 32px;
    }

    .prevValue {
        width: 215px;
        height: 32px;
    }

    .modal {
        padding: 108px;
        width: 608px;
    }

    .modalButtons {
        gap: 17px;
    }

    .cancelButton,
    .yesButton {
        padding: 9px 34px;
    }

    .titleModal {
        margin-bottom: 48px;
        font-size: 36px;
        line-height: 49px;
    }
}

@media screen and (min-width: 1280px) {
    .userCard {
        width: 395px;
        padding: 20px 16px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .userDetails {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
