.userCard {
    border-radius: 20px;
    padding: 20px 8px;

    background: #ffffff;
    box-shadow: var(--small-shadow);
}

.userPhoto {
    margin-bottom: 14px;
    margin-left: 41px;
    margin-right: 41px;
    border-radius: 40px;
    line-height: 0;
}

.avatar {
    object-fit: cover;
    border-radius: inherit;
}

.avatarBtn {
    border: none;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    font-size: 12px;
    line-height: 22px;

    letter-spacing: 0.04em;

    color: #111111;
    background-color: transparent;

    transition: var(--timing);

    &:hover {
        color: var(--header-acc);

        & svg {
            stroke: var(--header-acc);
        }
    }
}

.userDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.userDetails label {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #111111;
}

.input {
    padding-right: 40px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    width: 190px;
    height: 28px;
    &::placeholder {
        color: #b8b8b8;
    }

    /* Стилі для ввімкненого елемента */
    border: 1px solid var(--header-acc);
    border-radius: 20px;

    /* Стилі для відключеного елемента */
    &:disabled {
        border: 1px solid var(--main-acc);
    }
}

.userData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logOut {
    width: 115px;
    padding: 5px;
    margin-top: 6px;
    border: none;

    display: flex;
    align-items: center;
    gap: 12px;

    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.04em;

    background-color: transparent;

    color: var(--grey-font);

    transition: var(--timing);

    &:hover,
    &:focus {
        color: var(--header-acc);

        & .logOutIcon {
            stroke: var(--header-acc);
        }
    }
}

.logOutIcon {
    stroke: var(--main-acc);
    fill: transparent;
    transition: var(--timing);
}

.prevValue {
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    width: 160px;
    height: 28px;
    border-radius: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btnEdit {
    background-color: transparent;
    border: transparent;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    line-height: 0;
}
.position {
    position: relative;
}

.editPhoto {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #111111;
}
.wrapEditPhoto {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

input[type='file'] {
    display: none;
}

.wrapImg {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: var(--timing);

    &:hover,
    &:focus {
        & .spanEdit {
            color: var(--header-acc);
        }

        & .camera {
            stroke: var(--header-acc);
        }
    }
}

.spanEdit {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #111111;
    transition: var(--timing);
}

.avatarButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.camera {
    stroke: var(--main-acc);
    display: flex;
    justify-content: baseline;
    transition: var(--timing);
}

.cameraInput {
    width: 100%;
    height: 100%;
}

.checkAvatar {
    transition: stroke var(--timing);
    stroke: var(--main-acc);
}

.checkIcon {
    border-radius: 50%;
    stroke: var(--good-validation);
    transition: var(--timing);

    &:hover,
    &:focus {
        background-color: var(--main-acc);
        border-radius: 50%;
        stroke: white;
        transform: scale(1.2);
    }
}

.iconEdit {
    border-radius: 50%;
    fill: var(--main-acc);
    transition: var(--timing);

    &:hover,
    &:focus {
        background-color: var(--main-acc);
        border-radius: 50%;
        fill: white;
        transform: scale(1.2);
    }
}

.clearIcon {
    transition: stroke var(--timing);
    stroke: var(--main-acc);
}

// mobile styles for modal
.modal {
    width: 280px;
    padding-top: 80px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 60px;
    border-radius: 40px;
}

.modalButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btnWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cancelButton {
    width: 100%;
    position: relative;
    padding: 9px 20px;
    border: 2px solid var(--main-acc);
    border-radius: 40px;
    background-color: #ffffff;
    background-color: transparent;
    color: var(--main-acc);

    transition: color var(--timing);

    &:hover,
    &:focus {
        color: #ffffff;
        border-color: transparent;

        &::before {
            opacity: 1;
        }
    }

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: inherit;

        position: absolute;
        top: 0;
        left: 0;

        background: var(--gradient);
        opacity: 0;

        transition: opacity var(--timing);
    }

    & span {
        position: relative;
        z-index: 5;
        font-weight: 700;
        font-size: 16px;
    }
}

.yesButton {
    width: 100%;
    position: relative;
    padding: 9px 20px;
    border-radius: 40px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--main-acc);
    color: var(--main-back);

    transition: background-color var(--timing);

    &:hover,
    &:focus {
        background-color: transparent;

        &::before {
            opacity: 1;
        }
    }

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: inherit;

        position: absolute;
        top: 0;
        left: 0;

        background: var(--gradient);
        opacity: 0;

        transition: opacity var(--timing);
    }

    & span {
        position: relative;
        z-index: 5;
        font-weight: 700;
        font-size: 16px;
    }

    & svg {
        position: relative;
        z-index: 5;
    }
}
.titleModal {
    margin-bottom: 80px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #111111;
}

.logoutModal {
    color: var(--main-back);
}

.titleBtnYes {
    margin-right: 8px;
}

@media screen and (min-width: 768px) {
    .userCard {
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        padding-right: 70px;
        width: 704px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .userPhoto {
        margin-left: 0;
        margin-right: 0;
    }

    .userDetails {
        width: 355px;
    }

    .userDetails label {
        font-size: 18px;
        line-height: 25px;
    }

    .input {
        width: 255px;
        height: 32px;
    }

    .prevValue {
        width: 215px;
        height: 32px;
    }

    .modal {
        padding: 108px;
        width: 608px;
    }

    .modalButtons {
        flex-direction: row;
        gap: 17px;
    }

    .cancelButton,
    .yesButton {
        width: 129px;
        padding: 9px 34px;
    }

    .titleModal {
        margin-bottom: 48px;
        font-size: 36px;
        line-height: 49px;
    }
}

@media screen and (min-width: 1280px) {
    .userCard {
        width: 395px;
        padding: 20px 16px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .userDetails {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
