.form {
    width: 400px;
    height: 500px;
    margin: auto auto;
    background-color: #dff8a3;
}

.radios {
    display: flex;
    flex-direction: column;
}

.flexContainer {
    display: flex;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.sexRadioBtns {
    display: flex;
    flex-wrap: wrap;
}
.radioBtnsTitle {
    flex-basis: 100%;
}
.sexRadioLabel {
    flex-basis: 50%;
}
