.form {
    width: 400px;
    height: 500px;
    margin: auto auto;
    background-color: #dff8a3;
}

.radios {
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: column;
}
