// Mobile
@media screen and (max-width: 767px) {
    body {
        background-image: url(../../images/bg-mobile.jpg);
    }
    .mainPageText {
        font-family: 'Manrope';
        font-weight: 700;
        font-size: 32px;
        line-height: 1.4;

        color: var(--header-font);

        width: 280px;
        height: 88px;
        margin-left: 35px;
        margin-bottom: 10px;
    }
    .mainPageWrapper {
        // height: 573px;
        height: 100%;
        width: 100%;
        margin-top: 65px;
    }
    .imgMainPage {
        width: 100%;
    }
}

// Tablet
@media screen and (min-width: 768px) {
    body {
        background-image: url(../../images/bg-tablet.jpg);
    }
    .mainPageText {
        font-size: 68px;

        width: 588px;
        height: 200px;
        margin-left: 32px;
        margin-top: 80px;
    }
    .mainPageWrapper {
        // height: 1300px;
    }
}

// Desktop
@media screen and (min-width: 1280px) {
    body {
        background-image: url(../../images/bg-desktop.jpg);
    }
    .mainPageText {
        font-weight: 800;
        line-height: 1.3;

        width: 487px;
        height: 264px;
        margin-left: 35px;
        margin-top: 188px;
        margin-bottom: 188px;
    }
    .mainPageWrapper {
        display: flex;
        // height: 720px;
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 0;
        width: 100%;
    }
    .imgMainPage {
        width: 100%;
    }
}
