.title {
    margin-bottom: 18px;

    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.04em;

    color: #000000;
}

.wrapPets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 280px;
}

.mainContainer {
    width: 280px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 137px;
}

.wrapAddPets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 24px;
}

.titlePets {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #000000;
}

@media screen and (min-width: 768px) {
    .title {
        margin-bottom: 24px;
    }

    .wrapPets {
        width: 704px;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .titlePets {
        font-size: 28px;
        line-height: 38px;
    }

    .mainContainer {
        width: 704px;
        padding-top: 60px;
        padding-bottom: 121px;
    }
}

@media screen and (min-width: 1280px) {
    .title {
        margin-bottom: 24px;
    }

    .wrapPets {
        display: flex;
        flex-direction: column;
        width: 821px;
    }

    .mainContainer {
        width: 100%;
        display: flex;
        padding-top: 62px;
    }

    .wrapUser {
        margin-right: 32px;
    }

    .wrapAddPets {
        width: 821px;
        height: 38px;
        margin-top: 0;
    }
}
