@import '~modern-normalize/modern-normalize.css';
@import './sass/color-root';

body {
    font-family: 'Manrope';
    background-color: var(--main-back);
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    cursor: pointer;
}
