@import '~modern-normalize/modern-normalize.css';
@import './sass/variables';

body {
    font-family: 'Manrope';
    background-color: var(--main-back);
    background-image: url(./images/background/bg-mobile.jpg);
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    body {
        background-image: url(./images/background/bg-tablet.jpg);
    }
}

@media screen and (min-width: 1280px) {
    body {
        background-image: url(./images/background/bg-desktop.jpg);
    }
}
