@import '~modern-normalize/modern-normalize.css';
@import './sass/variables';

body {
    font-family: 'Manrope';
    background-color: var(--main-back);
    background-image: url(./images/background/bg-mobile.jpg);
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    body {
        background-image: url(./images/background/bg-tablet.jpg);
    }
}

@media screen and (min-width: 1280px) {
    body {
        background-image: url(./images/background/bg-desktop.jpg);
    }
}

label.notValid {
    position: relative;

    &::after {
        content: 'Field can`t be empty!';
        top: 65px;
        left: 18px;
        position: absolute;
        width: 100%;
        height: 50px;
        font-size: 14px;
        color: red;
        border-color: #a76060;
        z-index: 3000;
    }
    & input {
        border-color: red;
    }
}

@media screen and (min-width: 768px) {
    label.notValid::after {
        top: 80px;
        left: 22px;
        font-size: 13px;
    }
}
