.container {
    width: 280px;
    background: #ffffff;
    box-shadow: var(--small-shadow);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 40px;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.title {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.04em;

    color: #000000;
}

.cardTitle {
    @extend .text;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    font-size: 14px;
    line-height: 22px;

    letter-spacing: 0.04em;
    color: #000000;
}

.btnTrash {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    border: transparent;
    border-radius: 50%;
    fill: transparent;
    transition: var(--timing);

    &:hover,
    &:focus {
        background-color: var(--main-acc);
        border-radius: 50%;
        transform: scale(1.2);

        & .icon {
            stroke: white;
        }
    }
}

.photoPet {
    border-radius: inherit;
    object-fit: cover;
    width: 240px;
    height: 240px;
    margin-bottom: 20px;
}

.wrapData {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
p {
    margin: 0;
}

.icon {
    stroke: var(--main-acc);
}

@media screen and (min-width: 768px) {
    .container {
        padding-top: 20px;
        width: 703px;
        display: flex;
        margin-right: 0;
        position: relative;
    }

    .wrapData {
        margin-left: 20px;
    }

    .photoPet {
        width: 128px;
        height: 128px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 821px;
        padding-bottom: 20px;
    }

    .photoPet {
        width: 161px;
        height: 161px;
    }
}
