.button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;

    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;

    text-decoration: none;
    background-color: var(--main-acc);
    transition: background-color var(--timing);

    &:hover,
    &:focus {
        background-color: transparent;

        &::before {
            opacity: 1;
        }
    }

    &::before {
        content: '';

        border-radius: inherit;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

        background: var(--gradient);
        opacity: 0;

        transition: opacity var(--timing);
    }
}

.iconBig {
    stroke: #ffffff;
}

.iconSmall {
    display: none;
}

.label {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

    color: #ffffff;
}

@media screen and (max-width: 767px) {
    .button {
        z-index: 90;
        right: 0;
        bottom: -260px;
    }
}

@media screen and (min-width: 768px) {
    .button {
        width: 129px;
        height: auto;
        padding: 8px 15px;
        border-radius: 40px;
        text-decoration: none;

        position: relative;

        flex-direction: row;
        gap: 8px;
    }

    .iconBig {
        display: none;
    }

    .iconSmall {
        stroke: #ffffff;
        display: block;
    }

    .label {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.04em;
    }
}
