.title {
    margin-top: 60px;
    color: var(--header-font);
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    @media screen and (max-width: 767px) {
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        margin: 80px auto;
        width: 280px;
    }
}
@media screen and (max-width: 767px) {
    .title_br {
        padding: 0 100px;
    }
}
.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 248px;
    height: 40px;
    padding: 8px 28px;
    gap: 12px;
    background: var(--main-acc);
    border-radius: 40px;
    color: var(--main-back);
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.04em;
    text-decoration: none;
    @media screen and (max-width: 767px) {
        margin-top: 60px;
        margin-bottom: 275px;
    }
}
.btnIcon {
    width: 24px;
    height: 24px;
}
.digit {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 130px;
    line-height: 130%;
    color: var(--main-acc);

    @media screen and (min-width: 768px) {
        font-size: 325px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 380px;
    }
}
.cat {
    background-image: url('../../images/example/selective-focus-black-white-adorable-cat-with-its-tongue-out.png');
    background-color: var(--header-acc);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 91%;
    width: 131px;
    height: 131px;
    background-position: center right;

    @media screen and (min-width: 768px) {
        width: 250px;
        height: 250px;
    }
    @media screen and (min-width: 1280px) {
        width: 292px;
        height: 292px;
    }
}
.digit_right {
    transform: rotate(-11.34deg);
}
.digit_left {
    transform: rotate(16.23deg);
}
